<% content_for :meta_title, "Développeur Ruby on Rails Expert à Bordeaux | Maxime Oudin" %>
<% content_for :meta_description, "Développeur Ruby on Rails senior spécialisé dans la création d'applications web performantes. Expert en développement full-stack, APIs et solutions sur mesure à Bordeaux. Transformez vos idées en applications web robustes." %>

<!-- Hero Section -->
<main class="relative overflow-hidden" role="main">
  <!-- Section Hero -->
  <%= render "pages/hero" %>

  <!-- Section Perso -->
  <%# <%= render "pages/perso" %>

  <!-- Section Services -->
  <%# <%= render "pages/expertise" %>

  <!-- Section Services -->
  <%# <%= render "pages/services" %>

  <!-- Section Témoignages & Réalisations -->
  <%# <%= render "pages/testimonials" %>

  <!-- Section Contact -->
  <%# <%= render "pages/contact" %>
</main>
