<div class="p-6 w-full md:w-1/2 mx-auto">
  <h2 class="text-2xl font-bold text-center mb-6">Connexion</h2>

  <div class="w-full">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="actions">
        <%= f.label :email, class: "actions" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-1/2 border border-gray-200 rounded-md p-2" %>
      </div>

      <div class="actions">
        <%= f.label :password, class: "actions" %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: "w-1/2 border border-gray-200 rounded-md p-2" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class= "inline-flex items-center justify-center px-4 py-2 rounded-xl text-lg font-semibold text-white bg-gray-900 hover:bg-gray-800 transition-all duration-300 shadow-lg hover:shadow-xl">
        <%= f.submit "Connexion" %>
      </div>
    <% end %>
  </div>
  <%= render "devise/shared/links" %>
</div>