<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/head" %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "trix/dist/trix", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "actiontext", "data-turbo-track": "reload" %>
    
    <%= stylesheet_link_tag "application", "data-turbo-track": Rails.env.production? ? "reload" : "" %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />

    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="bg-gray-50">
    <%= render "shared/navbar" %>
    <main class="container mx-auto md:mt-12 mt-8 px-5 flex">
      <%= yield %>
    </main>
    <%= render "shared/footer" %>
    <%= render "shared/flashes" %>
  </body>
</html>
